@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akronim&display=swap");

/* font-family: 'Akaya Kanadaka', cursive;
font-family: 'Akronim', cursive; */

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(24, 24, 24);
  color: rgb(211, 211, 211);
}
.homediv {
  padding: 20px;
}
.homediv h1 {
  font-family: "Akronim", cursive;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin-bottom: 50px;
  font-weight: 500;
  text-shadow: 0px 0px 10px #ffdc1a;
}
.coldiv {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.coldiv h2 {
  font-family: "Akaya Kanadaka", cursive;
  text-align: center;
  font-size: 28px;
  color: rgb(211, 211, 211);
  text-transform: uppercase;
  cursor: pointer;
}
.coldiv img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.neonbtn {
  position: absolute;
  display: block;
  bottom: -76px;
  padding: 8px 40px;
  margin: 12px auto;
  text-align: center;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  letter-spacing: 4px;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-reflect: below 10px
    linear-gradient(
      transparent,
      transparent,
      rgba(0, 0, 0, 0.13333333333333333)
    );
}
.neonbtn:link,
.neonbtn:active {
  color: #fff;
}
.neonbtn:hover {
  background: #fff;
  color: #050801;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 200px #fff;
}
.neonbtn span {
  position: absolute;
  display: block;
}

.neonbtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.neonbtn span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, #fff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.neonbtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.neonbtn span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.divblack {
  background-color: #000;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.divblack p {
  font-family: "Akaya Kanadaka", cursive;
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
.modal-body {
  position: relative;
}
.piraimg {
  width: 100%;
  height: 325px;
}
.divtopimg {
  position: absolute;
  top: 40px;
  left: 220px;
}
.divtopimg img {
  width: 70px;
  height: 25px;
}
.div1img {
  position: absolute;
  top: 105px;
  left: 236px;
}
.div1img img {
  width: 30px;
  height: 30px;
}
.div2img {
  position: absolute;
  top: 142px;
  left: 206px;
}
.d2im1 {
  width: 30px;
  height: 30px;
}
.d2im2 {
  width: 30px;
  height: 30px;

  margin-left: 30px;
}
.div3img {
  position: absolute;
  top: 180px;
  left: 174px;
}
.d3im1 {
  width: 30px;
  height: 30px;
}
.d3im2 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d3im3 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.div4img {
  position: absolute;
  top: 216px;
  left: 138px;
}
.d4im1 {
  width: 30px;
  height: 30px;
}
.d4im2 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d4im3 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d4im4 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.div5img {
  position: absolute;
  top: 253px;
  left: 108px;
}
.d5im1 {
  width: 30px;
  height: 30px;
}
.d5im2 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d5im3 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d5im4 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d5im5 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.div6img {
  position: absolute;
  top: 288px;
  left: 76px;
}
.d6im1 {
  width: 30px;
  height: 30px;
}
.d6im2 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d6im3 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d6im4 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d6im5 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
.d6im6 {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.flexbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px;
}
.flexbtn a {
  font-family: "Akaya Kanadaka", cursive;
  background-color: #61000a;
  color: #fff;
  font-weight: 800;
  padding: 2px 16px;
  border: 2px solid #fff;
  font-size: 26px;
  text-decoration: none;
}
.modal-content {
  background-color: rgb(24, 24, 24);
}
.btn-close {
  background-color: #fff;
}
.bottomline {
  border: 4px solid #edac3c;
  border-radius: 6px;
  background-color: #42281c;
  max-width: 430px;
  margin: auto;
  position: relative;
  top: -16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomline button {
  background-color: transparent;
  border: 0px solid #000;
}
.bottomline img {
  width: 30px;
  height: 27px;
  margin: 4px 5px;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
}
.topclose {
  position: relative;
  height: 24px;
  padding: 8px 16px;
}
.topclose button {
  position: absolute;
  right: 15px;
}
@media (min-width: 1420px) {
  .homediv h1 {
    font-size: 64px;
    padding-top: 15px;
    margin-bottom: 70px;
  }
  .coldiv h2 {
    font-size: 45px;
    margin-bottom: 12px;
  }
  .coldiv img {
    height: 450px;
  }
  .divblack {
    height: 450px;
  }
  .divblack p {
    font-size: 65px;
  }
  .piraimg {
    height: 500px;
  }
  .modal-dialog {
    max-width: 800px;
    top: 50%;
    transform: translateY(-50%) !important;
  }
  .flexbtn a {
    padding: 2px 24px;
    font-size: 35px;
  }
  .bottomline {
    max-width: 615px;
    top: -20px;
  }
  .bottomline img {
    width: 51px;
    height: 46px;
    margin: 9px 6px;
  }
  .divtopimg {
    top: 50px;
    left: 328px;
  }
  .divtopimg img {
    width: 150px;
    height: 46px;
  }
  .div1img {
    top: 148px;
    left: 379px;
  }
  .div1img img {
    width: 52px;
    height: 52px;
  }
  .div2img {
    top: 209px;
    left: 331px;
  }
  .d2im1 {
    width: 55px;
    height: 50px;
  }
  .d2im2 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .div3img {
    top: 266px;
    left: 283px;
  }
  .d3im1 {
    width: 55px;
    height: 50px;
  }
  .d3im2 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d3im3 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .div4img {
    top: 323px;
    left: 234px;
  }
  .d4im1 {
    width: 55px;
    height: 50px;
  }
  .d4im2 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d4im3 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d4im4 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .div5img {
    top: 380px;
    left: 188px;
  }
  .d5im1 {
    width: 55px;
    height: 50px;
  }
  .d5im2 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d5im3 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d5im4 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d5im5 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .div6img {
    top: 438px;
    left: 138px;
  }
  .d6im1 {
    width: 55px;
    height: 50px;
  }
  .d6im2 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d6im3 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d6im4 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d6im5 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
  .d6im6 {
    width: 55px;
    height: 50px;
    margin-left: 33px;
  }
}
@media (max-width: 768px) {
  .coldiv {
    margin-bottom: 130px;
  }
}
@media (max-width: 505px) {
  .modal-dialog {
    width: 375px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) !important;
  }
  .piraimg {
    width: 100%;
    height: 252px;
  }
  .bottomline {
    max-width: 300px;
  }
  .bottomline img {
    width: 16px;
    height: 22px;
    margin: 2px 2px;
  }
  .divtopimg {
    top: 30px;
    left: 160px;
  }
  .divtopimg img {
    width: 60px;
    height: 20px;
  }
  .div1img {
    top: 82px;
    left: 176px;
  }
  .div1img img {
    width: 25px;
    height: 25px;
  }
  .div2img {
    top: 112px;
    left: 153px;
  }
  .d2im1 {
    width: 22px;
    height: 22px;
  }
  .d2im2 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .div3img {
    top: 140px;
    left: 130px;
  }
  .d3im1 {
    width: 22px;
    height: 22px;
  }
  .d3im2 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d3im3 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .div4img {
    top: 168px;
    left: 106px;
  }
  .d4im1 {
    width: 22px;
    height: 22px;
  }
  .d4im2 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d4im3 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d4im4 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .div5img {
    top: 197px;
    left: 85px;
  }
  .d5im1 {
    width: 22px;
    height: 22px;
  }
  .d5im2 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d5im3 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d5im4 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d5im5 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .div6img {
    top: 224px;
    left: 61px;
  }
  .d6im1 {
    width: 22px;
    height: 22px;
  }
  .d6im2 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d6im3 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d6im4 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d6im5 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
  .d6im6 {
    width: 22px;
    height: 22px;
    margin-left: 20px;
  }
}
